#search, .search { float: right; margin-top: 5px; border-top: none; border-left: none; border-right: none; margin-left: 10px; width: 200px; font-size: large; }
input:focus { outline: 0; }
#tableHeader { min-height: 80px; }
.popup-position { display: none; position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.7); width: 100%; height: 100%; }
.popup-wrapper { width: 360px; margin: 70px auto; text-align: left; }
.popup-container { background-color: white; padding: 20px; border-radius: 5px; }
.mb0 { margin: 7px 0px; width: 100% }
#example tbody td { text-align: left; padding-left: 10px; }
.file-field input.file-path { margin-left: 15% !important; width: 87% !important; }
.lista-elementos { padding: 1%; }
.lista-elementos div.agregar_nuevo a.btn { margin: 2%; }
.envio-formulario button.btn { display: block; float: none !important; margin: 0 auto !important; width: 60%; }
.envio-formulario a { display: block; text-align: center; }
.reporte-generar a.btn { width: 90%; display: block; margin: 0 auto; }
a.icono-edicion { color: #225264; margin: 0% 5%; }
div.search { margin-top: 0%; }
div#table { margin-top: 3%; }

.modal div.modal-header { background-color: #009966; }
.modal div.modal-header p { font-size: xx-large; text-align: center; padding-top: 10px; }
.modal div.modal-footer a { color: #000000; font-weight: bold; }

section.registro-content { padding-top: 0% !important; }
div.menu-nosotros { color: #666; }
ul.menu li.nosotros { color: #666 !important; padding-right: 5px !important; }
a.boton-registro { background-color: white; border: 2px solid #47b475; line-height: 27px; box-shadow: none; color: #47b475 !important; }
a.boton-registro:hover { background-color: #47b475; color: white !important; }
.registrar { background-color: #09856e; }
input.campo-registro:focus { outline: 0; }
a.footer-link { color: white !important; }
div#login-page { width: 35% !important; max-height: 63% !important; }
div#forgot-password { width: 35% !important; max-height: 45% !important; }
div#forgot-password input#email-forgot:focus { outline: none; }
div#login-page input#username:focus { outline: none; }
div#login-page input#password:focus { outline: none; }
a.btn-logueo { background-color: #009966 !important; color: white !important; }
a.btn-logueo:hover { background-color: #09856e !important; }
section.slider-inicio { z-index: 1 !important; position: relative !important; height: 577px !important; }
/*div.pricing-table a.btn { background-color: #47b475 !important; }*/
a.boton-claro { background-color: transparent !important; height: 50px !important; line-height: 50px !important; }
a.boton-claro:hover { background-color: #666 !important; border: 2px solid #47b475; color: white !important; }
a.boton-normal { background-color: #47b475 !important; height: 50px !important; line-height: 50px !important; }
a.boton-normal:hover { background-color: white !important; border: 2px solid #47b475; color: #47b475 !important; }
div.imagen-inicio img { margin-left: 4% !important; }
div.texto-slider { margin-left: 5% !important; }
li.nosotros:hover { background-color: transparent !important; }
li.nosotros ul.mega-menu { background: white !important; }
li.nosotros ul.mega-menu span.title { font-size: initial; color:black; }
li.nosotros ul.mega-menu a.nosotros-opcion { color:black !important; }
div.modal-header a.cerrar-modal { color: white; position: fixed; top: 0; right: 0; padding: 5px 10px 0px 10px; background-color: #C75050; }
div.realperson-text { text-align: center !important; min-height: 35px; }
div.campo-captcha { margin-top: 6% !important; }
div.realperson-regen { font-size: initial; margin-top: 10px; color: blue; }
div.realperson-text { display: block; margin: 0 auto; }
section.bg-dark.bg-secondary { padding: 10px 0%; }
section.bg-dark.bg-secondary div.row.home i { margin: 20px 0px 20px 35%; }
section.bg-dark.bg-secondary div.row.home h6 { text-align: center; }
section.bg-dark.bg-secondary div.row.home ul { text-align: center; margin-top: 20px; }
section#contacto textarea { height: 80px; padding: 0%; border-bottom: 1px solid #777777;}
section#contacto textarea:focus { outline: 0px; border-bottom: 2px solid black; }
input#send-message { width: 75%; display: block; margin: 0 auto; margin-top: 4%; border-radius: 50px !important; }
input#send-message:hover { background-color: #09856e; border: 2px solid #09856e; }
section#planes div.container div.row div.pricing-table a.btn-filled {  }

div.tabla-conAgregar { position: absolute; top: 19%; left: 35%; }
div.tabla-conAgregar a { float: left; margin: 0 15px; }
div.tabla-sinAgregar { position: absolute; top: 10%; left: 35%; }
div.tabla-sinAgregar a { float: left; margin: 0 15px; }
a#opciones-seleccionados-export { padding: 0 !important; margin: 0 15px 0 0; background-color: transparent !important; }

@media only screen and (max-width: 992px) {
    section.slider-inicio { height:auto !important; }
    div.mobile-toggle { border: none !important; }
    div.mobile-toggle i.ti-menu { color: #666 !important; }
    div.module-group.right { z-index: 100 !important; position: relative; background-color: #a8a8a8; color: white; }
    ul.mega-menu { position: relative !important; }
    div.imagen-inicio img { margin-left: 0% !important; }
    section.bg-primary { padding-top: 5%; }
    section.number-users { padding: 5% 0%; }
    div.nav-utility div.module { padding: 0% 1%; }
    section#planes { padding: 5% 0%; }
    section#planes div.container div.row div.text-center p { margin-bottom: 5%; }
    section#planes div.container div.row div.pricing-table { padding: 10px 32px; }
    div#login-page { width: 380px !important; top: 0% !important; }
    nav#nav-principal { height: 100px; }
    div.realperson-text br { display: block; }
    .file-field input.file-path { margin-left: 22% !important; width: 85% !important; }
    div.file-field div.btn { min-width: 30px !important; width: 40px; height: 40px; padding: 5px 5px; top: 0; }
    div.file-field div.btn i { height: 5px; margin-top: -5px; }
    .btn-lg { min-width: 150px !important; }
    table.data-table-information th { width: auto !important; }
    table.data-table-information tbody td { padding: 10px 1% !important; }
    table.data-table-information p { margin: 0 !important; }
    ul.menu li a { color: white; padding-right: 100% !important; }
    .has-dropdown:after { color: white !important; }
}
@media only screen and (max-width: 768px) {
    section.slider-inicio { height:auto !important; }
    div.mobile-toggle { border: none !important; }
    div.mobile-toggle i.ti-menu { color: #666 !important; }
    div.module-group.right { z-index: 100 !important; position: relative; background-color: #a8a8a8; color: white; }
    ul.mega-menu { position: relative !important; }
    div.imagen-inicio img { margin-left: 0 !important; }
    section.bg-primary { padding-top: 5%; }
    section.number-users { padding: 5% 0; }
    div.nav-utility div.module { padding: 0 1%; }
    div.nav-utility div.module.right a.btn { padding: 0 10px !important; }
    section#planes { padding: 5% 0; }
    section#planes div.container div.row div.text-center p { margin-bottom: 5%; }
    section#planes div.container div.row div.pricing-table { padding: 10px 32px; }
    section#contacto { padding: 5% 0; }
    section.bg-dark.bg-secondary div.row.home i { margin: 20px 0 20px 45%; }
    div#login-page { width: 380px !important; top: 0 !important; }
    nav#nav-principal { height: 100px; }
    div.realperson-text br { display: block; }
    .file-field input.file-path { margin-left: 22% !important; width: 85% !important; }
    div.file-field div.btn { min-width: 30px !important; width: 40px; height: 40px; padding: 5px 5px; top: 0; }
    div.file-field div.btn i { height: 5px; margin-top: -5px; }
    table.data-table-information th { width: auto !important; }
    table.data-table-information tbody td { padding: 10px 1%; }
    table.data-table-information p { margin: 0; }
    ul.menu li a { color: white !important; padding-right: 100%; }
    .has-dropdown:after { color: white !important; }
}
@media only screen and (max-width: 480px) {
    section.slider-inicio { height:auto !important; }
    div.mobile-toggle { border: none !important; }
    div.mobile-toggle i.ti-menu { color: #666 !important; }
    div.module-group.right { z-index: 100 !important; position: relative; background-color: #a8a8a8; color: white; }
    ul.mega-menu { position: relative !important; }
    div.imagen-inicio img { margin-left: 0% !important; }
    section.bg-primary { padding-top: 5%; }
    section.number-users { padding: 5% 0%; }
    div.nav-utility div.module { padding: 0% 1%; }
    div.nav-utility div.module.right a.btn { padding: 0px 6px !important; border: 2px solid #47b475; border-radius: 50px !important; font-size: 9px; }
    section#planes { padding: 5% 0%; }
    section#planes div.container div.row div.text-center p { margin-bottom: 5%; }
    section#planes div.container div.row div.pricing-table { padding: 10px 32px; }
    section#contacto { padding: 5% 0%; }
    section.bg-dark.bg-secondary div.row.home i { margin: 20px 0px 20px 40%; }
    div#login-page { width: 95% !important; top: 0% !important; }
    nav#nav-principal { height: 100px; }
    div.realperson-text br { display: block; }
    .file-field input.file-path { margin-left: 22% !important; width: 85% !important; }
    div.file-field div.btn { min-width: 30px !important; width: 40px; height: 40px; padding: 5px 5px; top: 0; }
    div.file-field div.btn i { height: 5px; margin-top: -5px; }
    table.data-table-information th { width: auto !important; }
    table.data-table-information tbody td { padding: 10px 1%; }
    table.data-table-information p { margin: 0; }
    ul.menu li a { color: white !important; padding-right: 100%; }
    .has-dropdown:after { color: white !important; }
}

#files th, td { width: auto !important; }
#files tbody td { padding: 1.5% 1%; text-align: left; }
div.new-file { float: left; margin: 3% 3% 0% 3%; }

ul.cliente-info li { width: 25% !important; }
ul.cliente-info li a { background-color: #009966; }
ul.usuario-info li { width: 50% !important; }
ul.usuario-info li a { background-color: #009966; }
li.tab-interior { border-left: 3px solid white; }
li.disabled { background-color: #a8a8a8 !important; }

a.siguiente, a.anterior { font-size: x-large; font-weight: bold; }
a.anterior i, a.siguiente i { vertical-align: middle }

div.fixed-action-btn ul { left: inherit; bottom: 50px; }
div.fixed-action-btn ul li a { width: 150px; height: auto; border-radius: 0%; background-color: white; color: black; }

div.dataTables_filter { text-align: left !important; }
/*div#data-table-simple_filter input { text-align: right; }*/
div.search label { float: left; }
/*div.search input { text-align: right; }*/

input#subir_archivo { position: inherit; margin-top: 3%; width: 50%; }

a.boton-opciones { padding: 0 20px; background-color: #47b475 !important; }
a.boton-opciones i { padding-left: 15px; }

/* WebKit, Blink, Edge */
::-webkit-input-placeholder { color: inherit; font-weight: normal; text-transform: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder { color: inherit; opacity: 1; font-weight: normal; text-transform: none; font-size: 14px; }
/* Mozilla Firefox 19+ */
::-moz-placeholder { color: inherit; opacity: 1; font-weight: normal; text-transform: none; font-size: 14px; }
/* Internet Explorer 10-11 */
:-ms-input-placeholder { color: inherit; font-weight: normal; text-transform: none; font-size: 14px; }

div.country-select div.select-wrapper input.select-dropdown { font-size: 15px !important; font-family: Arial, Helvetica, sans-serif; letter-spacing: 0.8px; }

a#busqueda-avanzada-cliente { position: absolute; right: 50px; top: 165px; font-size: smaller; z-index: 10; }
div#busquedaAvanzada { width: 70%; }
div#busquedaAvanzada div.modal-content { padding: 0 24px; }
label#fecha-desde, label#fecha-hasta { left: 0; top: -29px; font-size: 0.8rem; }

/*div.tabla-conAgregar a#opciones-seleccionados-delete { position: absolute; top: 18%; right: 440px; }*/
/*div.tabla-conAgregar a#opciones-seleccionados-print { position: absolute; top: 18%; right: 525px; }*/
/*div.tabla-conAgregar a#opciones-seleccionados-export { position: absolute; top: 18%; right: 610px; padding: 0 !important; background-color: transparent !important; }*/
/*div.tabla-sinAgregar a#opciones-seleccionados-delete { position: absolute; top: 9%; right: 440px; }*/
/*div.tabla-sinAgregar a#opciones-seleccionados-print { position: absolute; top: 9%; right: 525px; }*/
/*div.tabla-sinAgregar a#opciones-seleccionados-export { position: absolute; top: 9%; right: 610px; padding: 0 !important; background-color: transparent !important; }*/
i.icono-opciones-varios { font-size: 40px; }