#search, .search { float: right; margin-top: 5px; border-top: none; border-left: none; border-right: none; margin-left: 10px; width: 300px; font-size: large; }
input:focus { outline: 0; }
#tableHeader { min-height: 80px; }
.popup-position { display: none; position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.7); width: 100%; height: 100%; }
.popup-wrapper { width: 360px; margin: 70px auto; text-align: left; }
.popup-container { background-color: white; padding: 20px; border-radius: 5px; }
.mb0 { margin: 7px 0px; width: 100% }
#example tbody td { text-align: left; padding-left: 10px; }
.file-field input.file-path { margin-left: 15% !important; width: 87% !important; }
.lista-elementos { padding: 1%; }
.lista-elementos div.agregar_nuevo a.btn { margin: 2%; }
.envio-formulario button.btn { display: block; float: none !important; margin: 0 auto !important; width: 60%; }
.envio-formulario a { display: block; text-align: center; }
.reporte-generar a.btn { width: 90%; display: block; margin: 0 auto; }
a.icono-edicion { color: #225264; margin: 0% 5%; }
div.search { margin-top: 0%; }
div#table { margin-top: 3%; }

.modal div.modal-header { background-color: #009966; }
.modal div.modal-header p { font-size: xx-large; text-align: center; padding-top: 10px; }
.modal div.modal-footer a { color: #000000; font-weight: bold; }

section.registro-content { padding-top: 0% !important; }
div.menu-nosotros { color: #666; }
ul.menu li.nosotros { color: #666 !important; padding-right: 5px !important; }
a.boton-registro { background-color: white; border: 2px solid #47b475; line-height: 27px; box-shadow: none; color: #47b475 !important; }
.registrar { background-color: #47b475; }
input.campo-registro:focus { outline: 0; }
a.footer-link { color: white !important; }
div#login-page { width: 35% !important; max-height: 75% !important; }
div#login-page input#username:focus { outline: none; }
div#login-page input#password:focus { outline: none; }
section.slider-inicio { position: relative !important; height: 577px !important; }
/*div.pricing-table a.btn { background-color: #47b475 !important; }*/
a.boton-claro { background-color: transparent !important; height: 50px !important; line-height: 50px !important; }
a.boton-normal { background-color: #47b475 !important; height: 50px !important; line-height: 50px !important; }
div.imagen-inicio img { margin-left: 4% !important; }
div.texto-slider { margin-left: 5% !important; }
li.nosotros:hover { background-color: transparent !important; }
li.nosotros ul.mega-menu { background: white !important; }
li.nosotros ul.mega-menu span.title { font-size: initial; color:black; }
li.nosotros ul.mega-menu a.nosotros-opcion { color:black; }
div.modal-header a.cerrar-modal { color: white; position: fixed; top: 0; right: 0; padding: 5px 10px 0px 10px; background-color: #C75050; }
div.realperson-text { text-align: center !important; min-height: 35px; }
div.campo-captcha { margin-top: 6% !important; }
div.realperson-regen { font-size: initial; margin-top: 10px; color: blue; }
div.realperson-text { display: block; margin: 0 auto; }
section.bg-dark.bg-secondary { padding: 10px 0%; }
section.bg-dark.bg-secondary div.row.home i { margin: 20px 0px 20px 35%; }
section.bg-dark.bg-secondary div.row.home h6 { text-align: center; }
section.bg-dark.bg-secondary div.row.home ul { text-align: center; margin-top: 20px; }
section#contacto textarea { height: 80px; padding: 0%; border-bottom: 1px solid #777777;}
section#contacto textarea:focus { outline: 0px; border-bottom: 2px solid black; }

@media only screen and (max-width: 992px) {
    section.slider-inicio { height:auto !important; /*margin-top: 43px !important;*/ }
    /*div.nav-bar.nav-open { height: 150px; }*/
    div.mobile-toggle { border: none !important; }
    div.mobile-toggle i.ti-menu { color: #666 !important; }
    div.module-group.right { background-color: #a8a8a8; color: white; }
    ul.mega-menu { position: fixed !important; }
    div.imagen-inicio img { margin-left: 0% !important; }
    section.bg-primary { padding-top: 5%; }
    section.number-users { padding: 5% 0%; }
    div.nav-utility div.module { padding: 0% 1%; }
    div.nav-utility div.module.right a.btn { padding: 0px 2px !important; border-radius: 15px !important; border: none; font-size: 9px; }
    section#planes { padding: 5% 0%; }
    section#planes div.container div.row div.text-center p { margin-bottom: 5%; }
    section#planes div.container div.row div.pricing-table { padding: 10px 32px; }
    /*section#contacto textarea { height: 80px; padding: 0%; border-bottom: 1px solid #777777;}*/
    /*section#contacto textarea:focus { outline: 0px; border-bottom: 2px solid black; }*/
    input#send-message { width: 75%; display: block; margin: 0 auto; margin-top: 20px; border-radius: 50px !important; }
    /*section.bg-dark.bg-secondary div.row.home i { margin: 20px 0px 20px 35%; }*/
    /*section.bg-dark.bg-secondary div.row.home h6 { text-align: center; }*/
    /*section.bg-dark.bg-secondary div.row.home ul { text-align: center; margin-top: 20px; }*/
    div#login-page { width: 380px !important; top: 0% !important; }
    nav#nav-principal { height: 100px; }
    div.realperson-text br { display: block; }
    .file-field input.file-path { margin-left: 22% !important; width: 85% !important; }
    div.file-field div.btn { min-width: 30px !important; width: 40px; height: 40px; padding: 5px 5px; top: 0; }
    div.file-field div.btn i { height: 5px; margin-top: -5px; }
    .btn-lg { min-width: 150px !important; }
}
@media only screen and (max-width: 768px) {
    section.slider-inicio { height:auto !important; /*margin-top: 43px !important;*/ }
    /*div.nav-bar.nav-open { height: 150px; }*/
    div.mobile-toggle { border: none !important; }
    div.mobile-toggle i.ti-menu { color: #666 !important; }
    div.module-group.right { background-color: #a8a8a8; color: white; }
    ul.mega-menu { position: fixed !important; }
    div.imagen-inicio img { margin-left: 0% !important; }
    section.bg-primary { padding-top: 5%; }
    section.number-users { padding: 5% 0%; }
    div.nav-utility div.module { padding: 0% 1%; }
    div.nav-utility div.module.right a.btn { padding: 0px 2px !important; border-radius: 15px !important; border: none; font-size: 9px; }
    section#planes { padding: 5% 0%; }
    section#planes div.container div.row div.text-center p { margin-bottom: 5%; }
    section#planes div.container div.row div.pricing-table { padding: 10px 32px; }
    section#contacto { padding: 5% 0%; }
    /*section#contacto textarea { height: 80px; padding: 0%; border-bottom: 1px solid #777777;}*/
    /*section#contacto textarea:focus { outline: 0px; border-bottom: 2px solid black; }*/
    input#send-message { width: 75%; display: block; margin: 0 auto; margin-top: 20px; border-radius: 50px !important; }
    section.bg-dark.bg-secondary div.row.home i { margin: 20px 0px 20px 45%; }
    /*section.bg-dark.bg-secondary div.row.home h6 { text-align: center; }*/
    /*section.bg-dark.bg-secondary div.row.home ul { text-align: center; margin-top: 20px; }*/
    div#login-page { width: 380px !important; top: 0% !important; }
    nav#nav-principal { height: 100px; }
    div.realperson-text br { display: block; }
    .file-field input.file-path { margin-left: 22% !important; width: 85% !important; }
    div.file-field div.btn { min-width: 30px !important; width: 40px; height: 40px; padding: 5px 5px; top: 0; }
    div.file-field div.btn i { height: 5px; margin-top: -5px; }
}
@media only screen and (max-width: 480px) {
    section.slider-inicio { height:auto !important; /*margin-top: 43px !important;*/ }
    /*div.nav-bar.nav-open { height: 150px; }*/
    div.mobile-toggle { border: none !important; }
    div.mobile-toggle i.ti-menu { color: #666 !important; }
    div.module-group.right { background-color: #a8a8a8; color: white; }
    ul.mega-menu { position: fixed !important; }
    div.imagen-inicio img { margin-left: 0% !important; }
    section.bg-primary { padding-top: 5%; }
    section.number-users { padding: 5% 0%; }
    div.nav-utility div.module { padding: 0% 1%; }
    div.nav-utility div.module.right a.btn { padding: 0px 2px !important; border-radius: 15px !important; border: none; font-size: 9px; }
    section#planes { padding: 5% 0%; }
    section#planes div.container div.row div.text-center p { margin-bottom: 5%; }
    section#planes div.container div.row div.pricing-table { padding: 10px 32px; }
    section#contacto { padding: 5% 0%; }
    /*section#contacto textarea { height: 80px; padding: 0%; border-bottom: 1px solid #777777;}*/
    /*section#contacto textarea:focus { outline: 0px; border-bottom: 2px solid black; }*/
    input#send-message { width: 75%; display: block; margin: 0 auto; margin-top: 20px; border-radius: 50px !important; }
    /*section.bg-dark.bg-secondary { padding: 5% 0%; }*/
    section.bg-dark.bg-secondary div.row.home i { margin: 20px 0px 20px 40%; }
    /*section.bg-dark.bg-secondary div.row.home h6 { text-align: center; }*/
    /*section.bg-dark.bg-secondary div.row.home ul { text-align: center; margin-top: 20px; }*/
    div#login-page { width: 95% !important; top: 0% !important; }
    nav#nav-principal { height: 100px; }
    div.realperson-text br { display: block; }
    .file-field input.file-path { margin-left: 22% !important; width: 85% !important; }
    div.file-field div.btn { min-width: 30px !important; width: 40px; height: 40px; padding: 5px 5px; top: 0; }
    div.file-field div.btn i { height: 5px; margin-top: -5px; }
}
#files tbody td { padding: 1.5% 3%; text-align: left; }
div.new-file { float: left; margin: 3%; }
div.search label { float: right; margin: 3%; }
ul.cliente-info li { width: 33.33333% !important; }
ul.cliente-info li a { background-color: #009966; }
li.tab-central { border-left: 3px solid white; border-right: 3px solid white; }