.home a{  color: #FFFFFF;  }

.bloque-home1{  margin-right: 25%;  margin-left: 25%;  margin-top: -4%;  margin-bottom: 3%;  }

.bloque-home2{  margin-top: -4%;  }

input[type="text"], input[type="password"] {  height: 43px;  }

.title-acordeon{  background-color: #47B475;  padding: 5px;  color: #cccccc;  }

.panel-heading {  padding: 0px;  }

#boton_nuevo{  margin: 10px !important;  }

.bloque-embed-codigo-generado{  padding: 20px;  margin: 0.5rem 0px 1rem;  border-radius: 2px;  background-color: #CCCCCC;  }

#table-embed{  overflow-y: scroll;  max-height: 300px;  }

.bloque-home-nosotros a{ text-decoration: none; color: #FFFFFF !important;}

div.fixed-action-btn ul li a span i{ color: black; vertical-align: middle; float: left; margin-left: 7px; margin-right: 7px;}

div.fixed-action-btn ul li a { width: 165px;}

.fixed-action-btn ul { text-align: left;}

#menu-crear{
	right: 23px;
	bottom: 23px;
	position: fixed;
	padding-top: 20px;
	margin-bottom: 0px;
	z-index: 998;
}

#menu-crear ul{
	right: 0px;
	text-align: center;
	position: absolute;
    left: inherit;
    bottom: 50px;
    margin-right: 15px;
}

#menu-crear:hover .menu-crear{
	display: block;
	-moz-animation:trans .5s ease;
  	-webkit-animation:trans .5s ease;
}

#menu-crear:hover::after .menu-crear{
    -moz-animation:transi .5s ease;
    -webkit-animation:transi .5s ease;
}

@-moz-keyframes trans {
  0%{ -moz-transform: scale(0.4,0.4) translate(40px); opacity:0;}
  100%{ -moz-transform: scale(1,1) translate(40px); opacity:1;}
}
@-webkit-keyframes trans {
  0%{ -webkit-transform: scale(0.4,0.4) translate(0px); opacity:0;}
  100%{ -webkit-transform: scale(1,1) translate(0px); opacity:1;}
}

@-moz-keyframes transi {
    0%{ -moz-transform: scale(1,1) translate(40px); opacity:1;}
    100%{ -moz-transform: scale(0.4,0.4) translate(40px); opacity:0;}
}
@-webkit-keyframes transi {
    0%{ -webkit-transform: scale(1,1) translate(0px); opacity:1;}
    100%{ -webkit-transform: scale(0.4,0.4) translate(0px); opacity:0;}
}

.menu-crear{
	display: none;
	width: 150px;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    color: black;
    text-align: left;
}

.menu-crear li{
	margin-bottom: 15px;
  	list-style-type: none;
}

.menu-crear li a{
    width: 165px;
    height: auto;
    border-radius: 0;
    background-color: white;
    color: black;
}

.menu-crear li a span i{ color: black; vertical-align: middle; float: left; margin-left: 7px; margin-right: 7px;}

.btn-opciones{
	display: inline-block;
	color: #FFF;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	padding: 0px;
	background-color: #225264;
	cursor: pointer;
	vertical-align: middle;
}

.opt-finalizar{width: 100%;font-size: 15px;padding-left: 10px;padding-right: 10px;}

.opt-finalizar-cancelar{text-align: center;margin-top: 5%;}

.opt-finalizar-cancelar a{font-size: 15px;}

@media only screen and (min-width: 1201px) {
	.texto-completar-registro {margin-left: 68%;}
}

@media only screen and (max-width: 1200px) {
	.opt-finalizar{font-size: 11px;}
	.opt-finalizar-cancelar a{font-size: 11px;}
	.texto-completar-registro {margin-left: 63%;}
}

@media only screen and (max-width: 992px) {
	.opt-finalizar{font-size: 13px;}
	.opt-finalizar-cancelar a{font-size: 13px;}
	.texto-completar-registro {margin-left: 55%;}
}

@media only screen and (max-width: 768px) {
	.opt-finalizar{font-size: 9px;}
	.opt-finalizar-cancelar a{font-size: 9px;}
}

@media only screen and (max-width: 640px) {
	.opt-finalizar{font-size: 8px;}
	.opt-finalizar-cancelar a{font-size: 8px;}
}

@media only screen and (max-width: 600px) {
	.opt-finalizar{font-size: 15px;}
	.opt-finalizar-cancelar a{font-size: 15px;}
}

@media only screen and (max-width: 480px) {
	.opt-finalizar{font-size: 10px;}
	.opt-finalizar-cancelar a{font-size: 10px;}
    .opt-modal-registro a{ padding-left: 10px !important; padding-right: 10px !important; font-size: 12px;}
    .modal-registro {height: 200px;}
}

.menu-admin{
	width: 170px !important;
	left: 85px !important;
}

ul.empleado-info li { width: 50% !important; }
ul.empleado-info li a { background-color: #009966; }
ul.empleado-info li a.active { color: green !important; background-color: lightgray;}

span.informacion-empleado { font-weight: bold; }

.texto-completar-registro {
	color: black;
}

.enlace-completar-registro{
	color: blue;
}



