#search, .search { float: right; margin-top: 5px; border-top: none; border-left: none; border-right: none; margin-left: 10px; width: 200px; font-size: large; }
input:focus { outline: 0; }
#tableHeader { min-height: 80px; }
.popup-position { display: none; position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.7); width: 100%; height: 100%; }
.popup-wrapper { width: 360px; margin: 70px auto; text-align: left; }
.popup-container { background-color: white; padding: 20px; border-radius: 5px; }
.mb0 { margin: 7px 0; width: 100% }
#example tbody td { text-align: left; padding-left: 10px; }
.file-field input.file-path { margin-left: 15% !important; width: 87% !important; }
.lista-elementos { padding: 1%; }
div.agregar_nuevo { margin: 2%; }
.envio-formulario button.btn { display: block; float: none !important; margin: 0 auto !important; width: 60%; }
.envio-formulario a { display: block; text-align: center; }
.reporte-generar a.btn { width: 90%; display: block; margin: 0 auto; }
a.icono-edicion { color: #225264; margin: 0 5%; }
div.search { margin-top: 0; }
div#table { margin-top: 3%; }

.modal div.modal-header { background-color: #009966; }
.modal div.modal-header p { font-size: xx-large; text-align: center; padding-top: 10px; }
.modal div.modal-footer a { color: #000000; font-weight: bold; }

section.registro-content { padding-top: 0 !important; }
div.menu-nosotros { color: #666; }
ul.menu li.nosotros { color: #666 !important; padding-right: 5px !important; }
a.boton-registro { background-color: white; border: 2px solid #47b475; line-height: 27px; box-shadow: none; color: #47b475 !important; }
a.boton-registro:hover { background-color: #47b475; color: white !important; }
.registrar { background-color: #09856e; }
input.campo-registro:focus { outline: 0; }
a.footer-link { color: white !important; }
div#login-page { width: 380px !important; max-height: 414px !important; top: 0 !important; }
div#login-page div.card-panel { margin: 0; padding-top: 18px; }
div#forgot-password { width: 55% !important; max-height: 300px !important; top: 0 !important; }
div#forgot-password input#email-forgot:focus { outline: none; }
div#login-page input#username:focus { outline: none; }
div#login-page input#password:focus { outline: none; }
a.btn-logueo { background-color: #009966 !important; color: white !important; margin-bottom: 10px; }
a.btn-logueo:hover { background-color: #09856e !important; }
section.slider-inicio { z-index: 1 !important; position: relative !important; height: auto !important; }
/*div.pricing-table a.btn { background-color: #47b475 !important; }*/
a.boton-claro { background-color: transparent !important; height: 50px !important; line-height: 50px !important; }
a.boton-claro:hover { background-color: #666 !important; border: 2px solid #47b475; color: white !important; }
a.boton-normal { background-color: #47b475 !important; height: 50px !important; line-height: 50px !important; }
a.boton-normal:hover { background-color: white !important; border: 2px solid #47b475; color: #47b475 !important; }
div.imagen-inicio { margin: 4% !important; }
div.imagen-inicio img { margin: 0; width: 100%; }
div.texto-slider { margin-left: 5% !important; }
li.nosotros:hover { background-color: transparent !important; }
li.nosotros ul.mega-menu { background: white !important; }
li.nosotros ul.mega-menu span.title { font-size: initial; color:black; }
li.nosotros ul.mega-menu a.nosotros-opcion { color:black !important; padding-right: 70%; }
div.modal-header a.cerrar-modal { color: white; position: absolute; top: 0; right: 0; padding: 5px 10px 0 10px; background-color: #C75050; }
div.realperson-text { text-align: center !important; min-height: 35px; }
div.campo-captcha { margin-top: 6% !important; }
div.realperson-regen { font-size: initial; margin-top: 10px; color: blue; }
div.realperson-text { display: block; margin: 0 auto; }
section.bg-dark.bg-secondary { padding: 10px 0; }
section.bg-dark.bg-secondary div.row.home i { margin: 20px 0 20px 35%; }
section.bg-dark.bg-secondary div.row.home h6 { text-align: center; }
section.bg-dark.bg-secondary div.row.home ul { text-align: center; margin-top: 20px; }
section#contacto textarea { height: 80px; padding: 0; border-bottom: 1px solid #777777;}
section#contacto textarea:focus { outline: 0; border-bottom: 2px solid black; }
input#send-message { width: 75%; display: block; margin: 0 auto; margin-top: 4%; border-radius: 50px !important; font-size: initial; }
input#send-message:hover { background-color: #09856e; border: 2px solid #09856e; }
section#planes div.container div.row div.pricing-table a.btn-filled {  }

/*#files th, td { width: auto !important; }*/
#files tbody td { padding: 1.5% 1%; text-align: left; }
div.new-file { float: left; margin: 3% 3% 0 3%; }

ul.cliente-info li a.active, ul.usuario-info li a.active, ul.proveedor-info li a.active { color: green !important; background-color: lightgray; }
ul.cliente-info li { width: 25% !important; }
ul.cliente-info.tags-secundarios li { width: 33.3% !important; }
ul.cliente-info li a { background-color: #009966; }
ul.usuario-info li { width: 50% !important; }
ul.usuario-info li a { background-color: #009966; }
ul.proveedor-info li { width: 33.3% !important; }
ul.proveedor-info.tags-secundarios li { width: 50% !important; }
ul.proveedor-info li a { background-color: #009966; }
/*ul.proveedor-info-juridico li { width: 33.3% !important; }*/
/*ul.proveedor-info-juridico li a { background-color: #009966; }*/
li.tab-interior { border-left: 3px solid white; }
li.disabled { background-color: #a8a8a8 !important; }

a.siguiente, a.anterior { font-size: x-large; font-weight: bold; }
a.anterior i, a.siguiente i { vertical-align: middle }

div.fixed-action-btn ul { left: inherit; bottom: 50px; }
div.fixed-action-btn ul li a { width: 150px; height: auto; border-radius: 0; background-color: white; color: black; }

div.dataTables_filter { text-align: left !important; }
/*div#data-table-simple_filter input { text-align: right; }*/
div.search label { float: left; }
/*div.search input { text-align: right; }*/

input#subir_archivo { position: inherit; margin-top: 3%; width: 50%; }

a.boton-opciones { padding: 0 20px; background-color: #47b475 !important; }
a.boton-opciones i { padding-left: 15px; }

/* WebKit, Blink, Edge */
::-webkit-input-placeholder { color: inherit; font-weight: normal; text-transform: none; font-size: 14px; font-family: Arial, Helvetica, sans-serif; }
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder { color: inherit; opacity: 1; font-weight: normal; text-transform: none; font-size: 14px; }
/* Mozilla Firefox 19+ */
::-moz-placeholder { color: inherit; opacity: 1; font-weight: normal; text-transform: none; font-size: 14px; }
/* Internet Explorer 10-11 */
:-ms-input-placeholder { color: inherit; font-weight: normal; text-transform: none; font-size: 14px; }

div.country-select div.select-wrapper input.select-dropdown { font-size: 15px !important; font-family: Arial, Helvetica, sans-serif; letter-spacing: 0.8px; }

a#busqueda-avanzada-agregar { position: absolute; right: 50px; top: 165px; font-size: smaller; z-index: 10; }
a#busqueda-avanzada-sinAgregar { position: absolute; right: 50px; top: 90px; font-size: smaller; z-index: 10; }
div#busquedaAvanzada { width: 70%; max-height: 77% !important; }
div#busquedaAvanzada div.modal-content { padding: 0 24px; }
div#busquedaAvanzadaPS, div#cambiarCategoria { width: 70%; max-height: 77% !important; }
div#busquedaAvanzadaPS div.modal-content { padding: 0 24px; }

span.nivel1 { margin-left: 20px; }
span.nivel2 { margin-left: 40px; }
span.nivel3 { margin-left: 60px; }
span.nivel4 { margin-left: 80px; }

label#fecha-desde, label#fecha-hasta { left: 0; top: -29px; font-size: 0.8rem; }

i.icono-opciones-varios { font-size: 40px; }
div.btn-login-forgot a { float: right; }

.card { overflow: visible !important; }

div.dataTables_length, div.dataTables_filter { width: 200px; }
div.dataTables_filter input { margin-left: 0 !important; }
div.tabla-conAgregar { position: absolute; top: 100px; left: 50%; width: 180px; margin-left: -90px; }
div.tabla-conAgregar.tabla-opciones-monedas { position: absolute; top: 240px; left: 50%; width: 180px; margin-left: -90px; }
div.tabla-conAgregar.tabla-opciones-serviciosProductos { position: absolute; top: 100px; left: 50%; width: 250px; margin-left: -125px; }
div.tabla-conAgregar.tabla-opciones-contacto { position: absolute; top: 100px; left: 50%; width: 40px; margin-left: -20px; }
div.tabla-sinAgregar { position: absolute; top: 30px; left: 50%; width: 180px; margin-left: -90px; }
div.tabla-conAgregar a.option-delete-elements, div.tabla-sinAgregar a.option-delete-elements { float: left; margin-right: 0; }
div.tabla-conAgregar a.option-print-table, div.tabla-sinAgregar a.option-print-table { float: left; margin-right: 30px; }
div.tabla-conAgregar a.option-cotizar-elements, div.tabla-sinAgregar a.option-cotizar-elements { float: left; margin-right: 30px; }
div.tabla-conAgregar a.option-export-table, div.tabla-sinAgregar a.option-export-table { float: left; padding: 0 !important; margin-right: 30px; background-color: transparent !important; }
div.tabla-conAgregar a.option-export-table i, div.tabla-sinAgregar a.option-export-table i { padding: 0; }

table#productos-tabla-lista thead tr:first-child th:first-child { width: 65px; }
table#productos-tabla-lista thead tr:first-child th:first-child label { padding-left: 19px; }
table#productos-tabla-lista tbody tr td:first-child { width: 65px !important; padding: 10px; }
table#productos-tabla-lista tbody tr td:first-child label { padding-left: 19px; }
table#productos-tabla-lista tbody tr td:first-child span.indenter { position: absolute; left: 70px; }

/*ul.dropdown-content.active { width: auto !important; min-width: 147px; }*/
div.table-responsive { width: 100%; overflow-x: scroll; }

table#cliente1-contactos thead th label, table#cliente1-contactos tbody td label { top: 0; }
div.tabla-contactos-cliente { left: 60%; bottom: 4%; top: unset; width: auto; }
table#empleados1-salarios thead th label, table#cliente1-contactos tbody td label { top: 0; }
div.tabla-salarios-empleado { left: 60%; bottom: 4%; top: unset; width: auto; }
table#proveedor1-salarios thead th label, table#cliente1-contactos tbody td label { top: 0; }
div.tabla-salarios-proveedor { left: 60%; bottom: 4%; top: unset; width: auto; }
table#servicio1-gastos thead th label, table#servicio1-gastos tbody td label { top: 0; }
div.tabla-gastos-servicio { left: 60%; bottom: unset; top: 8%; width: auto; }
table#producto1-caracteristicas thead th label, table#cliente1-contactos tbody td label { top: 0; }
div.tabla-caracteristicas-producto { left: 60%; bottom: 4%; top: unset; width: auto; }
table#cotizacion1-detalles thead th label, table#cliente1-contactos tbody td label { top: 0; }
div.tabla-detalles-cotizacion { left: 430px; bottom: 25%; top: unset; width: auto; }

a#cotizacion-agregarAtencion { padding: 0; background-color: transparent; position: absolute; left: 90%; box-shadow: none; top: -15px; }

select.ui-datepicker-month, select.ui-datepicker-year { display: block; padding: 0; height: 25px; float: left; }
select.ui-datepicker-month { margin: 1px 17px 1px 1px !important; }

table.tabla-categorias tbody tr td label { padding-left: 25px; }
table.tabla-categorias tbody tr td span.nivel1 { margin-left: 0; }
table.tabla-categorias tbody tr td span.nivel2 { margin-left: 20px; }

div#agregarCategoria { top: 5% !important; width: 70%; }
a.editar-subcategoria { margin-right: 10px; }

p.titulo-modal { font-size: larger; text-align: left; margin-left: 2%; font-weight: bold; }

a.btn-agregarProductos-categoria { margin-top: 13px; }
a.btn-subcategoria-eliminar { margin-top: 13px; }
a.btn-subcategoria-eliminar i { color: black; }

tr.edicion-subcategoria td { padding: 0;background-color: gainsboro; }
tr.edicion-subcategoria td div.subcategoria-edicion-opciones { margin: 0 0 10px 0; }
tr.edicion-subcategoria td div.subcategoria-edicion-opciones a.btn-guardarSubcategoria { width: 30%;margin-left: 35%; }
tr.edicion-subcategoria td div.subcategoria-edicion-opciones a.btn-cancelarSubcategoria { float: right;background-color: red; }

div#busquedaAvanzada div.select-wrapper + label { top: 0; }
div.tagsInput-div { margin-top: 15px; }
div#busquedaAvanzada div.inputTag label { float: left; margin-left: -10px; }
div#busquedaAvanzada div.inputTag div.campo-tags { margin-top: 10px; }
div#busquedaAvanzadaPS div.modal-content div.row { margin-bottom: 0; }

span.icono-porcentaje-descuento { position: absolute; top: 15px; left: 96%; }

ul#opciones-barra-superior { display: block !important; margin-right: 10px; }

ul#listaNotificaciones li a, ul#listaConfiguracion li a { padding: 11px 1rem; }

table.data-table-information tbody tr td.dataTables_empty { padding: 9.6px 1% !important; }

table.data-table-information thead tr th:first-child { width: 6% !important; }

.liquid { padding:10px 0; }
.liquid div.wrapper { float: none !important; display: block; margin: 0 auto !important; }
.liquid .previous { position: absolute; left: 25px; top: 70px; }
.liquid .next { position: absolute; right: 25px; top: 70px; }
.liquid ul { margin-top: 5px !important; }
.liquid ul li { width:200px; padding:0 10px; margin:0; }
.liquid ul li div.info-contacto { width: auto; height: 260px; border: 2px solid black; border-radius: 5px; position: relative; }
.liquid ul li div.info-contacto div { margin: 5px; word-wrap: break-word; }
.liquid ul li div.info-contacto div div.contacto-opciones { position: absolute; bottom: 0; right: 0; margin: 0 3px 3px 0; }
.liquid ul li div.info-contacto div div.contacto-opciones a { padding: 0 10px; }
.liquid ul li div.info-contacto div div.contacto-opciones a i { color: black; }
.liquid ul li div.info-contacto div div.contacto-principal { position: absolute; top: 0; right: 0; margin: 0; }
.liquid ul li div.info-contacto div div.contacto-principal a { padding: 8px 0 0 0; background-color: darkgray; opacity: 0.6; }
.liquid ul li div.info-contacto div div.contacto-principal.es-principal a { background-color: #47b475; }
.liquid ul li div.info-contacto div div.contacto-principal a i { color: white; }

span.informacion-cliente, span.informacion-proveedor { font-weight: bold; }

div#tab-contactos hr, div#tab-contactos-editar hr { height: 12px; border: 0; box-shadow: inset 0 15px 15px -11px gray; }
div#tab-contactos-nuevo, div#tab-contactos-nuevo-editar { margin: 15px 0; }
div#tab-contactos-nuevo a, div#tab-contactos-nuevo-editar a { cursor: pointer; font-size: large; text-decoration: underline; }

@media only screen and (max-width: 1200px) {
    /*ul#slide-out { left: 0 !important; }*/
    div#login-page { width: 380px !important; max-height: 408px !important; top: 0 !important; }
    a#busqueda-avanzada-agregar { position: absolute; right: 50px; top: 155px; font-size: smaller; z-index: 10; }
    a#busqueda-avanzada-sinAgregar { position: absolute; right: 50px; top: 90px; font-size: smaller; z-index: 10; }
    div.tabla-conAgregar.tabla-opciones-monedas { position: absolute; top: 220px; left: 50%; width: 180px; margin-left: -90px; }
    div.tabla-detalles-cotizacion { left: 430px; bottom: 24%; top: unset; width: auto; }
    a#cotizacion-agregarAtencion { padding: 0; background-color: transparent; position: absolute; left: 88%; box-shadow: none; top: -15px; }
}

@media only screen and (max-width: 992px) {
    /*ul#slide-out { left: -250px; }*/
    /*section.slider-inicio { height:auto !important; }*/
    div.mobile-toggle { border: none !important; }
    div.mobile-toggle i.ti-menu { color: #666 !important; }
    div.module-group.right { z-index: 100 !important; position: relative; background-color: #a8a8a8; color: white; }
    ul.mega-menu { position: relative !important; }
    div.imagen-inicio img { margin-left: 0 !important; }
    section.bg-primary { padding-top: 5%; }
    section.number-users { padding: 5% 0; }
    div.nav-utility div.module { padding: 0 1%; }
    section#planes { padding: 5% 0; }
    section#planes div.container div.row div.text-center p { margin-bottom: 5%; }
    section#planes div.container div.row div.pricing-table { padding: 10px 32px; }
    div#login-page { width: 380px !important; max-height: 405px !important; top: 0 !important; }
    nav#nav-principal { height: 100px; }
    div.realperson-text br { display: block; }
    .file-field input.file-path { margin-left: 22% !important; width: 85% !important; }
    div.file-field div.btn { min-width: 30px !important; width: 40px; height: 40px; padding: 5px 5px; top: 0; }
    div.file-field div.btn i { height: 5px; margin-top: -5px; }
    .btn-lg { min-width: 150px !important; }
    table.data-table-information th { width: auto !important; }
    table.data-table-information tbody td { padding: 10px 1% !important; }
    table.data-table-information tbody tr td:last-child { padding: 0 1% 4px 1% !important; }
    table.data-table-information tbody tr td.dataTables_empty:last-child { padding: 9.6px 1% !important; }
    table.data-table-information p { margin: 0 !important; }
    ul.menu li a { color: white; padding-right: 100% !important; }
    .has-dropdown:after { color: white !important; }
    table.data-table-information tbody tr:first-child td { border-top: 1px solid #ddd !important; }
    table.data-table-information tbody tr td ul.dropdown-content { position: static !important; }
    a#busqueda-avanzada-agregar { position: absolute; right: 50px; top: 152px; font-size: smaller; z-index: 10; }
    a#busqueda-avanzada-sinAgregar { position: absolute; right: 50px; top: 85px; font-size: smaller; z-index: 10; }

    div.tabla-conAgregar { position: absolute; top: 100px; left: 50%; width: 180px; margin-left: -90px; }
    div.tabla-conAgregar.tabla-opciones-monedas { position: absolute; top: 220px; left: 50%; width: 180px; margin-left: -90px; }
    div.tabla-sinAgregar { position: absolute; top: 30px; left: 50%; width: 180px; margin-left: -90px; }
    div.tabla-detalles-cotizacion { left: 430px; bottom: 33%; top: unset; width: auto; }

    a#logo-principal-header { left: 43%; padding: 0; }  /* Era 48 */
    /*a#pantalla-completa { display: none; }*/
    ul#listaNotificaciones li a, ul#listaConfiguracion li a { padding: 10px; }

    table.data-table-information thead tr th:first-child { width: auto !important; }
}

@media only screen and (max-width: 768px) {
    /*section.slider-inicio { height:auto !important; }*/
    div.mobile-toggle { border: none !important; }
    div.mobile-toggle i.ti-menu { color: #666 !important; }
    div.module-group.right { z-index: 100 !important; position: relative; background-color: #a8a8a8; color: white; }
    ul.mega-menu { position: relative !important; }
    div.imagen-inicio img { margin-left: 0 !important; }
    section.bg-primary { padding-top: 5%; }
    section.number-users { padding: 5% 0; }
    div.nav-utility div.module { padding: 0 1%; }
    div.nav-utility div.module.right a.btn { padding: 0 10px !important; }
    section#planes { padding: 5% 0; }
    section#planes div.container div.row div.text-center p { margin-bottom: 5%; }
    section#planes div.container div.row div.pricing-table { padding: 10px 32px; }
    section#contacto { padding: 5% 0; }
    section.bg-dark.bg-secondary div.row.home i { margin: 20px 0 20px 45%; }
    div#login-page { width: 380px !important; max-height: 405px !important; top: 0 !important; }
    nav#nav-principal { height: 100px; }
    div.realperson-text br { display: block; }
    .file-field input.file-path { margin-left: 22% !important; width: 85% !important; }
    div.file-field div.btn { min-width: 30px !important; width: 40px; height: 40px; padding: 5px 5px; top: 0; }
    div.file-field div.btn i { height: 5px; margin-top: -5px; }
    table.data-table-information th { width: auto !important; }
    table.data-table-information tbody td { padding: 10px 1% !important; }
    table.data-table-information tbody tr td:last-child { padding: 0 1% 4px 1% !important; }
    table.data-table-information tbody tr td.dataTables_empty:last-child { padding: 9.6px 1% !important; }
    table.data-table-information p { margin: 0; }
    ul.menu li a { color: white !important; padding-right: 100%; }
    .has-dropdown:after { color: white !important; }
    table.data-table-information tbody tr:first-child td { border-top: 1px solid #ddd !important; }
    table.data-table-information tbody tr td ul.dropdown-content { position: static !important; }
    a#busqueda-avanzada-agregar { position: absolute; right: 50px; top: 145px; font-size: smaller; z-index: 10; }
    a#busqueda-avanzada-sinAgregar { position: absolute; right: 50px; top: 82px; font-size: smaller; z-index: 10; }

    div.tabla-conAgregar { position: absolute; top: 105px; left: 50%; width: 150px; margin-left: -75px; }
    div.tabla-conAgregar.tabla-opciones-monedas { position: absolute; top: 225px; left: 50%; width: 150px; margin-left: -75px; }
    div.tabla-conAgregar.tabla-opciones-contacto { position: absolute; top: 100px; left: 50%; width: 30px; margin-left: -15px; }
    div.tabla-sinAgregar { position: absolute; top: 50px; left: 50%; width: 150px; margin-left: -75px; }
    div.tabla-conAgregar a i, div.tabla-sinAgregar a i { font-size: 30px; }
    div.tabla-conAgregar a.option-delete-elements, div.tabla-sinAgregar a.option-delete-elements { float: left; margin-right: 0; }
    div.tabla-conAgregar a.option-print-table, div.tabla-sinAgregar a.option-print-table { float: left; margin-right: 30px; }
    div.tabla-conAgregar a.option-export-table, div.tabla-sinAgregar a.option-export-table { float: left; padding: 0 !important; margin-right: 30px; background-color: transparent !important; }
    div.tabla-conAgregar a.option-export-table i, div.tabla-sinAgregar a.option-export-table i { padding: 0; }
    div.tabla-conAgregar.tabla-opciones-serviciosProductos { position: absolute; top: 100px; left: 50%; width: 166px; margin-left: -83px; }
        div.tabla-conAgregar.tabla-opciones-serviciosProductos a.option-delete-elements { float: left; margin-right: 0; }
        div.tabla-conAgregar.tabla-opciones-serviciosProductos a.option-print-table { float: left; margin-right: 15px; }
        div.tabla-conAgregar a.option-cotizar-elements { float: left; margin-right: 15px; }
        div.tabla-conAgregar.tabla-opciones-serviciosProductos a.option-export-table { float: left; padding: 0 !important; margin-right: 15px; background-color: transparent !important; }
        div.tabla-conAgregar.tabla-opciones-serviciosProductos a.option-export-table i { padding: 0; }

    ul#dropdown-exportar { width: 100px !important; }
    div#forgot-password { width: 80% !important; max-height: 300px !important; top: 0 !important; }

    div.tabla-detalles-cotizacion { left: 430px; bottom: 33%; top: unset; width: auto; }
    a#cotizacion-agregarAtencion { padding: 0; background-color: transparent; position: absolute; left: 85%; box-shadow: none; top: -15px; }

    span.icono-porcentaje-descuento { position: absolute; top: 15px; left: 95%; }
    ul#opciones-barra-superior li a { padding: 0 7px; }
    ul#listaNotificaciones li a, ul#listaConfiguracion li a { padding: 9px 10px; }
    /*a#logo-principal-header { left: 48%; padding: 0; }*/

    table.data-table-information thead tr th:first-child { width: auto !important; }
}

@media only screen and (max-width: 640px) {
    div.dataTables_filter { margin-bottom: 5rem; }
    a#busqueda-avanzada-agregar { position: absolute; left: 2%; right: 68%; top: 265px; font-size: inherit; z-index: 10; }
    a#busqueda-avanzada-sinAgregar { position: absolute; left: 2%; right: 68%; top: 213px; font-size: inherit; z-index: 10; }

    div.dataTables_length, div.dataTables_filter { width: auto; }
    div.tabla-conAgregar { position: absolute; top: 260px; left: 50%; width: 120px; margin-left: -60px; }
    div.tabla-conAgregar.tabla-opciones-monedas { position: absolute; top: 380px; left: 50%; width: 120px; margin-left: -60px; }
    div.tabla-conAgregar.tabla-opciones-contacto { position: absolute; top: 260px; left: 50%; width: 30px; margin-left: -15px; }
    div.tabla-conAgregar.tabla-opciones-serviciosProductos { position: absolute; top: 260px; left: 65%; width: 166px; margin-left: -83px; }
    div.tabla-sinAgregar { position: absolute; top: 208px; left: 50%; width: 120px; margin-left: -60px; }
    div.tabla-conAgregar.tabla-busqueda-reporte { position: absolute; top: 260px; left: 65%; width: 120px; margin-left: -60px; }
    div.tabla-sinAgregar.tabla-busqueda-reporte { position: absolute; top: 208px; left: 65%; width: 120px; margin-left: -60px; }
    div.tabla-conAgregar a i, div.tabla-sinAgregar a i { font-size: 30px; }
    div.tabla-conAgregar a.option-delete-elements, div.tabla-sinAgregar a.option-delete-elements { float: left; margin-right: 0; }
    div.tabla-conAgregar a.option-print-table, div.tabla-sinAgregar a.option-print-table { float: left; margin-right: 15px; }
    div.tabla-conAgregar a.option-cotizar-elements, div.tabla-sinAgregar a.option-cotizar-elements { float: left; margin-right: 15px; }
    div.tabla-conAgregar a.option-export-table, div.tabla-sinAgregar a.option-export-table { float: left; padding: 0 !important; margin-right: 15px; background-color: transparent !important; }
    div.tabla-conAgregar a.option-export-table i, div.tabla-sinAgregar a.option-export-table i { padding: 0; }

    table#productos-tabla-lista thead tr:first-child th:first-child { width: 65px; }
    table#productos-tabla-lista thead tr:first-child th:first-child label { padding-left: 19px; }
    table#productos-tabla-lista tbody tr td:first-child { width: 65px !important; padding: 10px; }
    table#productos-tabla-lista tbody tr td:first-child label { float: left; padding-left: 4px; margin-left: 13px; }
    table#productos-tabla-lista tbody tr td:first-child span.indenter { float: right; position: relative; left: 30px; }
    div#card_productos div#tableHeader div.search { width: 100%; }
    div#card_productos div#tableHeader div.search input { width: 100%; }
    div.tabla-sinAgregar.tabla-productos-opciones { position: absolute; top: 100px; left: 50%; width: 150px; margin-left: -75px; }

    ul.cliente-info li a { background-color: #009966; font-size: 8px; }
    ul.usuario-info li a { background-color: #009966; font-size: x-small; }
    ul.proveedor-info li a { background-color: #009966; font-size: x-small; }
    /*ul.proveedor-info-juridico li a { background-color: #009966; font-size: x-small; }*/

    div.tabla-detalles-cotizacion { left: 430px; bottom: 33%; top: unset; width: auto; }
    /*a#logo-principal-header { left: 48%; padding: 0; }*/
}

@media only screen and (max-width: 600px) {
    div.tabla-detalles-cotizacion { left: 430px; bottom: 46%; top: unset; width: auto; }
    a#cotizacion-agregarAtencion { padding: 0; background-color: transparent; position: absolute; left: 90%; box-shadow: none; top: -15px; }
    span.icono-porcentaje-descuento { position: absolute; top: 15px; left: 93%; }
    a#logo-principal-header { left: 43%; padding: 0; }  /* Era 47 */
    ul#opciones-barra-superior { margin-top: 15px; }

    .liquid .previous { position: absolute; left: 5px; top: 70px; }
    .liquid .next { position: absolute; right: 5px; top: 70px; }
    .liquid ul li { width:160px; padding:0 2px; margin:0; }
}

@media only screen and (max-width: 480px) {
    /*section.slider-inicio { height:auto !important; }*/
    div.mobile-toggle { border: none !important; }
    div.mobile-toggle i.ti-menu { color: #666 !important; }
    div.module-group.right { z-index: 100 !important; position: relative; background-color: #a8a8a8; color: white; }
    ul.mega-menu { position: relative !important; }
    div.imagen-inicio img { margin-left: 0 !important; }
    section.bg-primary { padding-top: 5%; }
    section.number-users { padding: 5% 0; }
    div.nav-utility div.module { padding: 0 1%; }
    div.nav-utility div.module.right a.btn { letter-spacing: 0; padding: 0 7px !important; border: 2px solid #47b475; border-radius: 50px !important; font-size: 9px; }
    section#planes { padding: 5% 0; }
    section#planes div.container div.row div.text-center p { margin-bottom: 5%; }
    section#planes div.container div.row div.pricing-table { padding: 10px 32px; }
    section#contacto { padding: 5% 0; }
    section.bg-dark.bg-secondary div.row.home i { margin: 20px 0 20px 40%; }
    div#login-page { width: 95% !important; top: 0 !important; }
    nav#nav-principal { height: 100px; }
    div.realperson-text br { display: block; }
    .file-field input.file-path { margin-left: 22% !important; width: 85% !important; }
    div.file-field div.btn { min-width: 30px !important; width: 40px; height: 40px; padding: 5px 5px; top: 0; }
    div.file-field div.btn i { height: 5px; margin-top: -5px; }
    table.data-table-information th { width: auto !important; }
    table.data-table-information tbody td { padding: 10px 1% !important; }
    table.data-table-information tbody tr td:last-child { padding: 0 1% 4px 1% !important; }
    table.data-table-information tbody tr td.dataTables_empty:last-child { padding: 9.6px 1% !important; }
    table.data-table-information p { margin: 0; }
    ul.menu li a { color: white !important; padding-right: 100%; }
    .has-dropdown:after { color: white !important; }
    table.data-table-information tbody tr:first-child td { border-top: 1px solid #ddd !important; }
    table.data-table-information tbody tr td ul.dropdown-content { position: static !important; }
    /* WebKit, Blink, Edge */
    ::-webkit-input-placeholder { color: inherit; font-weight: normal; text-transform: none; font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
    /* Mozilla Firefox 4 to 18 */
    :-moz-placeholder { color: inherit; opacity: 1; font-weight: normal; text-transform: none; font-size: 12px; }
    /* Mozilla Firefox 19+ */
    ::-moz-placeholder { color: inherit; opacity: 1; font-weight: normal; text-transform: none; font-size: 12px; }
    /* Internet Explorer 10-11 */
    :-ms-input-placeholder { color: inherit; font-weight: normal; text-transform: none; font-size: 12px; }
    div.country-select div.select-wrapper input.select-dropdown { font-size: 12px !important; font-family: Arial, Helvetica, sans-serif; letter-spacing: 0.8px; }
    div#login-page { margin: 0 auto; top: 10% !important; max-height: 355px !important; }
    div#login-page div.card-panel { box-shadow: none; margin: 0; padding-bottom: 0; padding-top: 0; }
    div.campo-btn-logueo { margin-top: 0; }
    div.btn-login-registro, div.btn-login-forgot { margin-top: 7px; }
    div.btn-login-registro a { float: left; font-size: smaller; }
    div.btn-login-forgot a { float: right; font-size: smaller; }
    div.menu-nosotros span.sub { font-size: 11px !important; }
    input#send-message { font-size: small; }
    div.dataTables_filter { margin-bottom: 5rem; }

    a#busqueda-avanzada-agregar { width: 123px; position: absolute; left: 2%; top: 260px; font-size: small; z-index: 10; }
    a#busqueda-avanzada-sinAgregar { width: 123px; position: absolute; left: 2%; top: 207px; font-size: small; z-index: 10; }

    div.dataTables_length, div.dataTables_filter { width: auto; }
    div.tabla-conAgregar { position: absolute; top: 249px; left: 50%; width: 120px; margin-left: -60px; }
    div.tabla-conAgregar.tabla-opciones-monedas { position: absolute; top: 369px; left: 50%; width: 120px; margin-left: -60px; }
    div.tabla-sinAgregar { position: absolute; top: 200px; left: 50%; width: 120px; margin-left: -60px; }
    div.tabla-conAgregar.tabla-busqueda-reporte { position: absolute; top: 260px; left: 70%; width: 120px; margin-left: -60px; }
    div.tabla-sinAgregar.tabla-busqueda-reporte { position: absolute; top: 200px; left: 70%; width: 120px; margin-left: -60px; }
    div.tabla-conAgregar a i, div.tabla-sinAgregar a i { font-size: 30px; }
    div.tabla-conAgregar a.option-delete-elements, div.tabla-sinAgregar a.option-delete-elements { float: left; margin-right: 0; }
    div.tabla-conAgregar a.option-print-table, div.tabla-sinAgregar a.option-print-table { float: left; margin-right: 15px; }
    div.tabla-conAgregar a.option-export-table, div.tabla-sinAgregar a.option-export-table { float: left; padding: 0 !important; margin-right: 15px; background-color: transparent !important; }
    div.tabla-conAgregar a.option-export-table i, div.tabla-sinAgregar a.option-export-table i { padding: 0; }

    div.tabla-conAgregar.tabla-opciones-serviciosProductos { position: absolute; top: 260px; left: 74%; width: 130px; margin-left: -65px; }
        div.tabla-conAgregar.tabla-opciones-serviciosProductos a i { font-size: 25px; }
        div.tabla-conAgregar.tabla-opciones-serviciosProductos a.option-delete-elements { float: left; margin-right: 0; }
        div.tabla-conAgregar.tabla-opciones-serviciosProductos a.option-print-table { float: left; margin-right: 10px; }
        div.tabla-conAgregar a.option-cotizar-elements { float: left; margin-right: 10px; }
        div.tabla-conAgregar.tabla-opciones-serviciosProductos a.option-export-table { float: left; padding: 0 !important; margin-right: 10px; background-color: transparent !important; }
        div.tabla-conAgregar.tabla-opciones-serviciosProductos a.option-export-table i { padding: 0; }

    div#forgot-password { width: 90% !important; max-height: 310px !important; top: 0 !important; }

    ul.cliente-info li a { background-color: #009966; font-size: 7.5px; letter-spacing: 0; font-weight: 700;}
    ul.usuario-info li a { background-color: #009966; font-size: 8px; letter-spacing: 0; font-weight: 900; }
    ul.proveedor-info li a { background-color: #009966; font-size: 8px; letter-spacing: 0; font-weight: 900; }
    /*ul.proveedor-info-juridico li a { background-color: #009966; font-size: 8px; letter-spacing: 0; font-weight: 900; }*/
    ul.cliente-info li a i, ul.usuario-info li a i, ul.proveedor-info li a i { font-size: 15px; display: none; }

    a.btn-newLine { width: 188px; font-size: x-small; }
    div.tabla-detalles-cotizacion { left: 290px; bottom: 46%; top: unset; width: auto; }
    a.siguiente, a.anterior { font-size: small; font-weight: bold; }
    a.tab-paso-cotizacion { font-size: xx-small; }

    a#cotizacion-agregarAtencion { padding: 0; background-color: transparent; position: absolute; left: 86%; box-shadow: none; top: -15px; }

    span.icono-porcentaje-descuento { position: absolute; top: 15px; left: 90%; }

    a#logo-principal-header { left: 43%; padding: 0; } /* Era 48 */
    ul#opciones-barra-superior { margin-top: 15px; margin-right: 5px; }
    ul#opciones-barra-superior li a { padding: 0 5px; }
    ul#opciones-barra-superior li a i { font-size: 23px; }
    ul#listaNotificaciones li a, ul#listaConfiguracion li a { padding: 8px 10px; }

    .liquid .previous { position: absolute; left: 0; top: 70px; z-index: 100; }
    .liquid .next { position: absolute; right: 0; top: 70px; z-index: 100; }
    .liquid .previous i, .liquid .next i { font-size: 3rem; }
    .liquid ul li { width:135px; padding:0; margin:0; }
    .liquid ul li div.info-contacto div h5 { font-size: 1rem; }
    .liquid ul li div.info-contacto div p { font-size: 11px; }
    .liquid ul li div.info-contacto div div.contacto-opciones a { padding: 0 5px; }

    table.data-table-information thead tr th:first-child { width: auto !important; }
}

@media only screen and (max-width: 360px) {
    a#logo-principal-header { left: 43%; padding: 0; }  /* Era 48 */
    a#logo-principal-header img { width: 145px; height: 30px; }
    ul#opciones-barra-superior { margin-top: 17px; margin-right: 2px; }
    ul#opciones-barra-superior li a { padding: 0 4px; }
    ul#opciones-barra-superior li a i { font-size: 23px; }
    ul#listaNotificaciones li a, ul#listaConfiguracion li a { padding: 8px 10px; }

    .liquid .previous { position: absolute; left: 0; top: 70px; z-index: 100; }
    .liquid .next { position: absolute; right: 0; top: 70px; z-index: 100; }
    .liquid .previous i, .liquid .next i { font-size: 3rem; }
    .liquid ul li { width:120px; padding:0; margin:0; }
    .liquid ul li div.info-contacto div h5 { font-size: 1rem; }
    .liquid ul li div.info-contacto div p { font-size: 11px; }
    .liquid ul li div.info-contacto div div.contacto-opciones a { padding: 0 5px; }
}
